<h1>Listing publishers</h1>

<p>
  Number of publisher:
  <%= @publishers.count %>
</p>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @publishers.each do |publisher| %>
      <tr>
        <td><%= link_to publisher.name, publisher %></td>
        <td><%= edit_and_destroy_buttons(publisher) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to('New publisher', new_publisher_path, class:"btn btn-default") unless current_user.nil? %>
